{% extends 'homepage/core.html' %}
{% block content %}
	<div class="container marginfrom">
  
    {% if request.user.is_authenticated %}
      {% if not salon.title %}
        <div class="jumbotron text-center">
          <h2>Ваш салон пуст</h2>
          <a href="{% url 'create_salon' %}"><button class="btn btn-primary"><span class="fa fa-pencil"></span> Заполнить салон</button></a>
        </div>
      {% else %}
      <div class="row ">
        {% if salon.image %}
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="{{salon.image.url}}" class="img-circle" alt="" width="200" height="200">
        </div>
        {% endif %}
        <div class="col-lg-7 col-md-7 col-sm-12">
          <h2><b>{{salon.title}}</b></h2>
          <h4><small><span class="fa fa-envelope"></span> {{request.user.username}} </small></h4>
          <p>{{salon.description}}</p>
          <hr>
          <a href="{% url 'edit_salon' %}" class="btn btn-default"> <span class="fa fa-pencil"></span> Редактировать салон</a>
        </div>
      </div>
      <div class="row marginfrom">
        <h2>Галерея: <a href="{% url 'create_gallery' %}" class="btn btn-default"><span class="fa fa-plus-circle"></span> Добавить картинку</a></h2>
        <hr>
        {% if gallery is not None %}
        {% for gal in gallery %}
        <div class="col-sm-12 col-lg-3 col-md-4">
          <div class="thumbnail">
            <img src="{{gal.image.url}}" class="rat" alt="">
            <div class="caption">
              <p>{{gal.title}}<p>
              <h4><small>Филлиал: {{gal.fillial.title}}</small></h4>
              <h4> <small><span class="fa fa-calendar"></span> {{gal.created_at}} </small> </h4>
              <p><a href="{% url 'edit_gallery' gal.id %}" class="btn btn-warning"><span class="fa fa-pencil fa-lg"></span></a>
              <a href="{% url 'delete_gallery' gal.id %}" class="btn btn-danger"><span class="fa fa-trash fa-lg"></span></a></p>

            </div>
          </div>
          </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="row">
        <h2>Услуги: <a href="{% url 'create_service' %}" class="btn btn-default"><span class="fa fa-plus-circle"></span> Добавить услугу</a></h2>
        <hr>
        <div class="col-lg-7">
          <table class="table">
            <thead>
              <tr>
                <th>Наименование</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
            {% if service is not None %}
              {% for item in service %}
                <tr>
                  <td>{{item.service_title}}</td>
                  <td>{{item.price}}c</td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <h2>Мастера: <a href="{% url 'create_master' %}" class="btn btn-default"><span class="fa fa-plus-circle"></span> Добавить мастера</a></h2>
        <hr>
      </div>
      {% endif %}
    {%endif%}
    </div>
{% endblock %}
